
<h1>les questions pour le coach</h1>

<form action="/reponse" >
  <div >
    <label for="name">Quelle est votre question ?</label>
    <input type="text" name="question"  />
  </div>
</div>
  <div class="form-example">
    <input type="submit" value="J'envoie ma question!" />
  </div>
</form>
